body {
    background-color: hsl(0, 0%, 8%); 
}


div.imagen {
    display: flex;
    justify-content: center;
}

img {
    max-width: 10%;
    height: auto;
    border-radius: 50%;
}


div.todo {
   background-color: hsl(0, 0%, 12%);
   margin: 10%;
   border-radius: 2%;
   padding-left: 1px;
   padding-right: 1px;
  

}


h1 {
    display: flex;
    justify-content: center;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    margin: 1%;
    padding: 0px;
    border: 0px;
}


h4 {
    display: flex;
    justify-content: center;
    color:hsl(75, 94%, 57%) ;
    margin-top: 0px;
    padding-top: 0px;
    border-top: 0px;
}

p {
    display: flex;
    justify-content: center;
    color:hsl(0, 0%, 100%);
    font-size: 14px;
}

div.buttons {
   display: flex;
   flex-direction: column;
   align-items: center;
  

}

button {

   text-align: center;

   padding-top: 1%;
   padding-bottom: 1%;
   padding-left: 5%;
   padding-right: 5%;
   margin: 1%;
   width: 25%;

   color: hsl(0, 0%, 100%);
   background-color: hsl(0, 0%, 20%);
   border: 0;
   font-weight:400;
   border-radius: 4%;
}

button:hover {
    color:hsl(0, 0%, 12%);
    background-color: hsl(75, 94%, 57%);
}